# Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/19data.csv')

In [3]:
df.head()

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,HULANGCODE,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HRFS30D1,HRFS30D2,HRFS30D3,HRFS30D4,HRFS30D5,HRFS30D6,HRFS30D7,HRFS30D8,HRFS30D9,HRFS30DE
0,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
1,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
2,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
3,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
4,809001585510960,12,2019,1,201,0,2,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6

In [4]:
df.shape

(138964, 510)

### Null Values and Column Drops

In [5]:
df.isnull().sum()[df.isnull().sum()!=0]

FILLER    138964
dtype: int64

- Dropping FILLER column because the data dictionary shows it being a space holder between different categories.

In [6]:
df.drop('FILLER', axis=1, inplace=True)

In [7]:
df.shape

(138964, 509)

#### Choosing Columns to Drop Based on Data Dictionary
- Dropping Month and Year column because we know this is 2019 data

In [8]:
df.drop(['HRMONTH', 'HRYEAR4'], axis=1, inplace=True)

In [9]:
df.shape

(138964, 507)

- Dropping columns related to telephones because 80% of households did interviews over the phone

In [10]:
df['HEPHONEO'].value_counts(normalize=True).mul(100).round(2)

1    80.33
0    19.67
Name: HEPHONEO, dtype: float64

In [11]:
df.drop(['HETELHHD', 'HETELAVL', 'HEPHONEO'], axis=1, inplace=True)

- Dropping rows about why interviews didn't happen because the about 90% have a value of -1 which means "not in universe" in the census which translates to "not applicable"

In [12]:
df.drop(['HUTYPEA', 'HUTYPB', 'HUTYPC', 'HRINTSTA'], axis=1, inplace=True)

In [13]:
df.shape

(138964, 500)

- Dropping weighted columns since they are just there as a way to measure different ratios in the sample

In [14]:
#[col for col in df.columns if 'WGT' in col]

In [15]:
df.drop(['HWHHWGT', 'PWFMWGT', 'PWLGWGT', 'PWORWGT', 'PWSSWGT', 'PWVETWGT',
         'PWCMPWGT', 'HHSUPWGT', 'PWSUPWGT'], axis=1, inplace=True)

In [16]:
df.shape

(138964, 491)

- Next section of the data dictionary includes type of interview, attempted contacts, as well as multiple other columns regarding telephones so these will be dropped due to redundance and insignificance

In [17]:
df.drop(['HRMIS', 'HUINTTYP', 'HUPRSCNT', 'HRLONGLK', 'HWHHWTLN'], axis=1, inplace=True)

- Next, dropping columns to deal with if a person has a business or not where the values are numbers 1-99 with no explanation of what values mean.

In [18]:
df.drop(['HUBUSL1', 'HUBUSL2', 'HUBUSL3', 'HUBUSL4'], axis=1, inplace=True)

In [19]:
df.shape

(138964, 482)

In [20]:
df.drop(['HURESPLI', 'HUFINAL', 'HEHOUSUT', 'HRHTYPE', 'HRHHID2', 'HUBUS'], axis=1, inplace=True)

In [21]:
[col for col in df.columns if 'GT' in col]

['GTCBSAST', 'GTMETSTA', 'GTINDVPC', 'GTCBSASZ']

- Dropping all metropolitan columns besides the one that indicates wheter or not a place is in a metropolitan area ir not

In [22]:
df.drop(['GTCBSAST', 'GTINDVPC', 'GTCBSASZ'], axis=1, inplace=True)

- There are also multiple columns about family relations for each person so I will be dropping all but the main column for this variable

In [23]:
df.drop(['PRFAMNUM', 'PRFAMTYP', 'PRMARSTA', 'PRPERTYP', 'PRCITFLG'], axis=1, inplace=True)

In [24]:
df.shape

(138964, 468)

In [25]:
df.drop(['GCTCB', 'GCTCO'], axis=1, inplace=True)

- The next section in the survey asks different versions of the same question about work so I will be dropping a lot of the redundant ones here too.

In [26]:
df.drop(['PUBUS1', 'PUBUS2OT', 'PUBUSCK1', 'PUBUSCK2', 'PUBUSCK3', 'PUBUSCK4', 'PURETOT', 
         'PUDIS1','PUDIS2', 'PUABSOT', 'PULAY', 'PEABSRSN', 'PEABSPDO', 'PEHRWANT', 
         'PEHRRSN2', 'PEHRRSN3', 'PUHROFF1','PUHROFF2', 'PUHROT1', 'PUHROT2', 
         'PEHRACT1', 'PEHRACT2', 'PEHRACTT', 'PEHRAVL', 'PUHRCK1', 'PUHRCK2', 
         'PUHRCK3', 'PUHRCK4', 'PUHRCK5', 'PUHRCK6', 'PUHRCK7', 'PUHRCK12', 
         'PULAYDT', 'PULAY6M', 'PELAYAVL','PULAYAVR', 'PELAYLK', 'PELAYDUR', 
         'PELAYFTO', 'PULAYCK1', 'PULAYCK2', 'PULAYCK3', 'PELKM1', 'PULKM2',
         'PULKM3', 'PULKM4', 'PULKM5', 'PULKM6', 'PULKDK1', 'PULKDK2', 'PULKDK3', 
         'PULKDK4', 'PULKDK5', 'PULKDK6', 'PULKPS1', 'PULKPS2', 'PULKPS3', 'PULKPS4', 
         'PULKPS5', 'PULKPS6', 'PELKAVL', 'PULKAVR', 'PELKLWO', 'PELKDUR','PELKFTO', 
         'PEDWWNTO', 'PEDWRSN', 'PEDWLKO', 'PEDWWK', 'PEDW4WK', 'PEDWLKWK', 'PEDWAVL', 
         'PEDWAVR', 'PUDWCK1','PUDWCK2', 'PUDWCK3', 'PUDWCK4', 'PUDWCK5', 'PEJHWKO', 
         'PUJHDP1O', 'PEJHWANT', 'PUJHCK1', 'PUJHCK2', 'PRABSREA','PRCIVLF', 'PRDISC', 
         'PREMPHRS', 'PREMPNOT', 'PREXPLF', 'PRFTLF', 'PRJOBSEA', 'PRPTHRS', 'PRPTREA', 
         'PRUNEDUR','PRUNTYPE', 'PRWKSCH', 'PRWKSTAT', 'PRWNTJOB', 'PUJHCK3', 'PUJHCK4', 
         'PUJHCK5', 'PUIODP1', 'PUIODP2', 'PUIODP3','PUIOCK1', 'PUIOCK2', 'PUIOCK3', 
         'PRIOELG', 'PRCOWPG', 'PRDTCOW1', 'PRDTCOW2', 'PREMP', 'PRMJIND1', 'PRMJIND2',
         'PRMJOCC1', 'PRMJOCC2'], axis=1, inplace=True)

In [27]:
df.shape

(138964, 350)

- This data set contains a significant amount of "allocation flag" values that are imputed values in which the data dictionary does not explain what they are for or what they mean. These will be dropped since I will not be able to interpet their meaning or reason for being.

In [28]:
#[col for col in df.columns if 'PX' in col]

In [29]:
df.drop(['PRMJOCGR', 'PRNAGPWS', 'PEERNH1O', 'PRERNHLY', 'PTHR', 'PTWK', 'PUERN2', 'PTOT', 
         'PENLFJH', 'PENLFRET', 'PUNLFCK1', 'PUNLFCK2', 'PESCHENR', 'PRCHLD', 'PXPDEMP1', 
         'PRWERNAL', 'PRHERNAL', 'HXTENURE', 'HXHOUSUT', 'HXTELHHD', 'HXTELAVL', 'HXPHONEO',
         'PXPDEMP1', 'PXINUSYR', 'PXRRP', 'PXPARENT', 'PXAGE', 'PXMARITL', 'PXSPOUSE',
         'PXSEX', 'PXAFWHN1', 'PXAFNOW', 'PXEDUCA', 'PXRACE1', 'PXNATVTY', 'PXMNTVTY', 
         'PXFNTVTY', 'PXNMEMP1', 'PXHSPNON', 'PXMLR', 'PXRET1', 'PXABSRSN', 'PXABSPDO', 
         'PXMJOT', 'PXMJNUM', 'PXHRUSL1', 'PXHRUSL2', 'PXHRFTPT', 'PXHRUSLT','PXHRWANT', 
         'PXHRRSN1', 'PXHRRSN2', 'PXHRACT1', 'PXHRACT2', 'PXHRACTT', 'PXHRRSN3', 'PXHRAVL', 
         'PXLAYAVL', 'PXLAYLK','PXLAYDUR', 'PXLAYFTO', 'PXLKM1', 'PXLKAVL', 'PXLKLL1O', 
         'PXLKLL2O', 'PXLKLWO', 'PXLKDUR', 'PXLKFTO', 'PXDWWNTO','PXDWRSN', 'PXDWLKO', 
         'PXDWWK', 'PXDW4WK', 'PXDWLKWK', 'PXDWAVL', 'PXDWAVR', 'PXJHWKO', 'PXJHRSN', 
         'PXJHWANT','PXIO1COW', 'PXIO1ICD', 'PXIO1OCD', 'PXIO2COW', 'PXIO2ICD', 'PXIO2OCD', 
         'PXERNUOT', 'PXERNPER', 'PXERNH1O', 'PXERNHRO','PXERN', 'PXPDEMP2', 'PXNMEMP2', 
         'PXERNWKP', 'PXERNRT', 'PXERNHRY', 'PXERNH2', 'PXERNLAB', 'PXERNCOV', 'PXNLFJH',
         'PXNLFRET', 'PXNLFACT', 'PXSCHENR', 'PXSCHFT', 'PXSCHLVL', 'PXDIPGED', 'PXHGCOMP', 
         'PXCYC', 'PXAFEVER', 'PXLNDAD','PXLNMOM', 'PXDADTYP', 'PXMOMTYP', 'PXCOHAB', 
         'PXDISEAR', 'PXDISEYE', 'PXDISREM', 'PXDISPHY', 'PXDISDRS', 'PXDISOUT',
         'PXCERT1', 'PXCERT2', 'PXCERT3'], axis=1, inplace=True)

In [30]:
df.shape

(138964, 229)

- The next set of the data dictionary contains multiple questions asking about one's education, additional columns referring to one's status of employment and the type of job they do, household makeup and disabilities. Since there are already columns in the beginning that ask these questions, these additional columns will be dropped.

In [31]:
df.drop(['PEHGCOMP', 'PEIO1ICD', 'PEIO1OCD', 'PEIO2ICD', 'PEIO2OCD', 'PRIMIND1', 'PRIMIND2', 
         'PEAFWHN2', 'PEAFWHN3','PEAFWHN4', 'PELNDAD', 'PELNMOM', 'PECOHAB', 'PEDISEAR', 
         'PEDISEYE', 'PEDISREM', 'PEDISPHY', 'PEDISDRS','PEDISOUT', 'PEPDEMP1', 'PTNMEMP1', 
         'PEPDEMP2', 'PTNMEMP2', 'PECERT1', 'PECERT2', 'PECERT3'], axis=1, inplace=True)

In [32]:
df.shape

(138964, 203)

- The next set of columns to drop are going to include multiple verions of asking a household if they expereinced any food insecurity with the last 12 months and then the last 30 days.

In [33]:
df.drop(['HRFS12CX', 'HRFS12M1', 'HRFS12M3', 'HRFS12M4', 'HRFS12MC', 'HRFS12M6', 'HRFS12M7', 
         'HRFS12M9', 'HRFS12ME', 'HRFS30D1', 'HRFS30D2', 'HRFS30D3', 'HRFS30D4', 'HRFS30D5', 
         'HRFS30D6', 'HRFS30D7', 'HRFS30D8', 'HRFS30D9','HRFS30DE'], axis=1, inplace=True)

In [34]:
df.drop(['HRSUPINT', 'HRPOOR', 'HRFS12MD', 'HRFS12M8'], axis=1, inplace=True)

In [35]:
df.drop(['HES1A', 'HES1B', 'HES1C', 'HES1D', 'HESP21', 'HESP22', 'HESP23', 'HESP24', 'HESP25', 
         'HESP26', 'HESP27','HESP28', 'HESP29', 'HESP210', 'HESP211', 'HESP212', 'HESP3OTC', 
         'HESP9TC', 'HESSM2', 'HESSM3', 'HESSM4','HESHF2', 'HESHM2', 'HESH3', 'HESHF3', 
         'HESHM3', 'HESH2', 'HESHF4', 'HESHM4', 'HESH5', 'HESHM5', 'HESSH1','HESSHF1', 'HESSHM1', 
         'HESS5', 'HESSM5', 'HESS6', 'HESSM6', 'HESH1', 'HESHM1', 'HESSH2', 'HESSHF2', 'HESSHM2',
         'HESSH3', 'HESSHF3', 'HESSHM3', 'HESSH4', 'HESSHF4', 'HESSHM4', 'HESSH5', 'HESCF3', 
         'HESCM3', 'HESC4','HESCF4', 'HESCM4'], axis=1, inplace=True)

In [36]:
df.drop(['HETENURE', 'HETS2O', 'HETS3O', 'HETS4O', 'HETS5O', 'HETS6O', 'HETS7O', 'HETS8O', 
         'HETS8OU', 'HETS8CO','HETS8DO', 'HETSP2D', 'HETSP9', 'HETSHMF2', 'HETSHMF3', 
         'HETSHMF4', 'HETSSHMF1', 'HETSSHMF2', 'HETSSHMF3','HETSSHMF4'], axis=1, inplace=True)

In [37]:
df.shape

(138964, 105)

In [38]:
df.head()

,HRHHID,HULANGCODE,HEFAMINC,HRNUMHOU,GEREG,GEDIV,GCFIP,GTMETSTA,GCTCS,PERRP,...,HESP8,HESS1,HESS2,HESS3,HESS4,HESH4,HESC1,HESC2,HESC3,HESC3A
0,581125017600866,0,14,4,4,9,2,1,0,1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
1,581125017600866,0,14,4,4,9,2,1,0,3,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
2,581125017600866,0,14,4,4,9,2,1,0,4,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
3,581125017600866,0,14,4,4,9,2,1,0,4,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
4,809001585510960,0,13,3,3,7,5,1,0,1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1

- Dropping HULANGCODE column because it is not in the data dictionary

In [39]:
df.drop(['HULANGCODE'], axis=1, inplace=True)

### Creating columns indicating food insecure or not based on question responses

- In this section I will be going through the remaining columns regarding the questionaire about household food and creating dummy variables while still keeping the "not in universe" value that way I can make a master column for households that experienced food insecurity at some point in the year.

In [40]:
df['HES8B'].value_counts()

-1    61831
 3    43120
 2    24853
 1     8995
-2      145
-3       20
Name: HES8B, dtype: int64

In [41]:
df['HES8B'].replace([1, 2, 3, -1, -2, -3], [1, 0, 0, -1, 1, 1], inplace=True)

In [42]:
df['HES8B'].value_counts()

 0    67973
-1    61831
 1     9160
Name: HES8B, dtype: int64

In [43]:
df['HES9'].replace([1, 2, -1, -2, -3], [1, 0, -1, 1, 1], inplace=True)

In [44]:
df['HES9'].value_counts()

 0    65262
-1    57142
 1    16560
Name: HES9, dtype: int64

In [45]:
df['HESP1'].replace([1, 2, -1, -2, -3], [1, 0, -1, 1, 1], inplace=True)

In [46]:
df['HESP1'].value_counts()

-1    108066
 0     23729
 1      7169
Name: HESP1, dtype: int64

In [47]:
df['HESS1'].replace([1, 2, 3, 4, -1, -2, -3], [0, 0, 1, 1, -1, 1, 1], inplace=True)

In [48]:
df['HESS1'].value_counts()

 0    79114
-1    57142
 1     2708
Name: HESS1, dtype: int64

In [49]:
df['HESS2'].replace([1, 2, 3, -1, -2, -3, -9], [1, 1, 0, -1, 1, 1, 1], inplace=True)

In [50]:
df['HESS2'].value_counts()

-1    104899
 0     22335
 1     11730
Name: HESS2, dtype: int64

In [51]:
df['HESS3'].replace([1, 2, 3, -1, -2, -3, -9], [1, 1, 0, -1, 1, 1, 1], inplace=True)

In [52]:
df['HESS3'].value_counts()

-1    104899
 0     24725
 1      9340
Name: HESS3, dtype: int64

In [53]:
df['HESS4'].replace([1, 2, 3, -1, -2, -3, -9], [1, 1, 0, -1, 1, 1, 1], inplace=True)

In [54]:
df['HESS4'].value_counts()

-1    104899
 0     24418
 1      9647
Name: HESS4, dtype: int64

- Creating a master column indicating if an individual has ever worried about food based on responses to the above changed columns.

In [55]:
df['food_secure'] = df['HES8B'] + df['HES9'] + df['HESP1'] + df['HESS2'] + df['HESS3'] + df['HESS4']

In [56]:
df['food_secure'].replace([0, 1, 2, 3, 4, 5, 6, -1, -2, -3, -4, -5, -6], 
                          [0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, -1], inplace=True)

In [57]:
df['food_secure'].value_counts()

 0    58875
-1    57142
 1    22947
Name: food_secure, dtype: int64

- After creating the column and seeing the wide range of numbers I created a sample data frame below to tally up the 1's, 0's, and -1's to figure out if an individual experienced food insecurity. This has been commented out to clean up the notebook. I will now be dropping the individual columns that make up the food secure column. 1 == insecure, 0 == secure

In [58]:
#sample = df[['food_secure', 'HES8B', 'HES9', 'HESP1', 'HESS2', 'HESS3', 'HESS4']]

#sample_df = pd.DataFrame(sample)
#sample_df

In [59]:
df.drop(['HES8B', 'HES9', 'HESP1', 'HESS2', 'HESS3', 'HESS4'], axis=1, inplace=True)

In [60]:
df.head()

,HRHHID,HEFAMINC,HRNUMHOU,GEREG,GEDIV,GCFIP,GTMETSTA,GCTCS,PERRP,PEPARENT,...,HESP7,HESP7A,HESP8,HESS1,HESH4,HESC1,HESC2,HESC3,HESC3A,food_secure
0,581125017600866,14,4,4,9,2,1,0,1,-1,...,-1,-1,-1,0,-1,-1,-1,-1,-1,0
1,581125017600866,14,4,4,9,2,1,0,3,-1,...,-1,-1,-1,0,-1,-1,-1,-1,-1,0
2,581125017600866,14,4,4,9,2,1,0,4,1,...,-1,-1,-1,0,-1,-1,-1,-1,-1,0
3,581125017600866,14,4,4,9,2,1,0,4,1,...,-1,-1,-1,0,-1,-1,-1,-1,-1,0
4,809001585510960,13,3,3,7,5,1,0,1,-1,...,-1,-1,-1,0,-1,-1,-1,-1,-1,0

In [61]:
df.columns

Index(['HRHHID', 'HEFAMINC', 'HRNUMHOU', 'GEREG', 'GEDIV', 'GCFIP', 'GTMETSTA',
       'GCTCS', 'PERRP', 'PEPARENT', 'PRTAGE', 'PRTFAGE', 'PEMARITL',
       'PESPOUSE', 'PESEX', 'PEAFEVER', 'PEAFNOW', 'PEEDUCA', 'PTDTRACE',
       'PRDTHSP', 'PUCHINHH', 'PULINENO', 'PRFAMREL', 'PEHSPNON', 'PENATVTY',
       'PEMNTVTY', 'PEFNTVTY', 'PRCITSHP', 'PRINUYER', 'PUSLFPRX', 'PEMLR',
       'PUWK', 'PUDIS', 'PERET1', 'PEMJOT', 'PEMJNUM', 'PEHRUSL1', 'PEHRUSL2',
       'PEHRFTPT', 'PEHRUSLT', 'PEHRRSN1', 'PULK', 'PELKLL1O', 'PELKLL2O',
       'PEJHRSN', 'PRHRUSL', 'PEIO1COW', 'PUIO1MFG', 'PEIO2COW', 'PUIO2MFG',
       'PRAGNA', 'PRCOW1', 'PRCOW2', 'PRDTIND1', 'PRDTIND2', 'PRDTOCC1',
       'PRDTOCC2', 'PRNAGWS', 'PRSJMJ', 'PRERELG', 'PEERNUOT', 'PEERNPER',
       'PEERNRT', 'PEERNHRY', 'PUERNH1C', 'PEERNH2', 'PEERNHRO', 'PRERNWA',
       'PEERN', 'PEERNWKP', 'PEERNLAB', 'PEERNCOV', 'PENLFACT', 'PESCHFT',
       'PESCHLVL', 'PRNLFSCH', 'PRNMCHLD', 'QSTNUM', 'OCCURNUM', 'PEDIPGED',
       'PECYC', 'PEAFWHN1', 'PEDADTYP', 'PEMOMTYP', 'PRDISFLG', 'HXFAMINC',
       'PRDASIAN', 'HETSP3O', 'HESP6', 'HESP7', 'HESP7A', 'HESP8', 'HESS1',
       'HESH4', 'HESC1', 'HESC2', 'HESC3', 'HESC3A', 'food_secure'],
      dtype='object')

In [62]:
#saving cleaned data set
df.to_csv('./data/cleaned_data.csv', index=False)